.panel-testing {
  padding: 10px;
  text-wrap: wrap;

  &__ceils {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    margin: 20px;
    overflow: hidden;
    word-break: break-all;

    &__question {
      text-wrap: wrap;
    }

    &__image {
      border: 1px solid #410877FF;
      max-height: 500px;
      width: 100%;
      transition: transform ease 1s;

      &:hover {
        transform: scale(1.1);
        transition: transform ease 1s;
      }

    }
  }

  &__ceil {
    text-align: center;
    height: 20px;
    width: 17px;
    cursor: pointer;
    margin: -5px;
    padding: 15px;
    transition: transform ease 0.1s;

    &--correct{
      color: green;
      cursor: default;
    }

    &--incorrect{
      cursor: default;
      color: #bd1111;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform ease 0.1s;
      background-color: #410877FF;

    }

  }

  &__buttons {
    display: flex;

    &__prev-button, &__next-button {
      cursor: pointer;
      padding: 10px;

      &:hover {
        background-color: #410877FF;
      }
    }
  }

  &__answer {
    cursor: pointer;
    margin: -5px;
    padding: 15px;
    word-break: break-all;

    &:hover {
      background-color: #410877;
    }
  }

  &__ceil--active {
    outline: 3px solid #4e99c9;
    cursor: pointer;

    &:hover {
      background-color: #4B4747FF;
    }
  }



}

