<div class="panel-testing">
  <div>{{ page }}</div>

  <div class="panel-testing__ceils">
    <div *ngIf="pack !== 20" (click)="prevPackTests()">Предыдущий блок</div>
    <div *ngFor="let el of testsSeparator()">
      <div
        (click)="findTest(el.id)"
        [class]="
          activeTest.id === el.id
            ? 'panel-testing__ceil--active panel-testing__ceil'
            : 'panel-testing__ceil'
        "
      >
        <span
          [class.panel-testing__ceil--correct]="correctKeyInMap(el.id)"
          [class.panel-testing__ceil--incorrect]="
            correctKeyInMap(el.id) === false
          "
          >{{ el.id }}</span
        >
      </div>
    </div>
    <div *ngIf="pack !== arrTest.length" (click)="nextPackTests()">
      Следующий блок
    </div>
  </div>
  <div class="panel-testing__block">
    <img class="panel-testing__block__image" src="takeUntil.png" alt="" />
    <h3 class="panel-testing__block__question">{{ activeTest["name"] }}</h3>
  </div>
  <div>
    <div
      [appCorrectAnswer]="answer.correct"
      *ngFor="let answer of activeTest.answers"
    >
      <div
        [class]="!selectAnswer ? 'panel-testing__answer' : ''"
        [class.panel-testing__ceil--correct]="correctAnswerInMap(answer.title)"
        [class.panel-testing__ceil--incorrect]="
          correctAnswerInMap(answer.title) === false
        "
        (clickEmitter)="clickAnswer(answer)"
        [appCorrectAnswer]="answer.correct"
        [selectAnswer]="selectAnswer"
      >
        {{ answer.title }}
      </div>
    </div>
  </div>
  <div class="panel-testing__buttons">
    <div
      *ngIf="activeTest.id !== 1"
      (click)="findTest(activeTest.id - 1)"
      class="panel-testing__buttons__prev-button"
    >
      Предыдущий тест
    </div>
    <div
      *ngIf="activeTest.id !== arrTest.length && selectAnswer"
      (click)="findTest(activeTest.id + 1)"
      class="panel-testing__buttons__prev-button"
    >
      Следующий тест
    </div>
  </div>
</div>
