.panel-testing {
  padding: 10px;

  &__ceils {
    display: flex;
  }

  &__image {
    height: 300px;
    width: 500px;
  }

  &__ceil {
    cursor: pointer;
  }

  &__ceil--active {
    border-radius: 7px;
    outline: 3px solid #4e99c9;
    cursor: pointer;
  }

  &__correct-ceil {
    color: green;
    cursor: pointer;
  }

  &__incorrect-ceil {
    cursor: pointer;
    color: #bd1111;
  }
}

