<div class="panel-testing">
  <div>{{ page }}</div>
  <div class="panel-testing__ceils">
    <div *ngFor="let el of arrTest">
      <div
        (click)="findTest(el.id)"
        [class]="
          activeTest.id === el.id
            ? 'panel-testing__ceil--active panel-testing__ceil'
            : 'panel-testing__ceil'
        "
      >
        <span
          [class.panel-testing__correct-ceil]="correctKeyInMap(el.id)"
          [class.panel-testing__incorrect-ceil]="
            correctKeyInMap(el.id) === false
          "
          >{{ el.id }}</span
        >
      </div>
    </div>
  </div>
  <div class="panel-testing__image">
    <img src="takeUntil.png" alt="" />
    <h3>{{ activeTest["name"] }}</h3>
  </div>
  <div>
    <div
      [appCorrectAnswer]="answer.correct"
      *ngFor="let answer of activeTest.answers"
    >
      <div
        [class]="!selectAnswer ? 'panel-testing__answer' : ''"
        [class.panel-testing__correct-ceil]="correctAnswerInMap(answer.title)"
        [class.panel-testing__incorrect-ceil]="
          correctAnswerInMap(answer.title) === false
        "
        (onClick)="clickAnswer(answer)"
        [appCorrectAnswer]="answer.correct"
        [selectAnswer]="selectAnswer"
      >
        {{ answer.title }}
      </div>
    </div>
  </div>
  <div class="panel-testing__buttons">
    <div
      *ngIf="activeTest.id !== 1"
      (click)="findTest(activeTest.id - 1)"
      class="panel-testing__next-button"
    >
      Предыдущий тест
    </div>
    <div
      *ngIf="activeTest.id !== arrTest.length && selectAnswer"
      (click)="findTest(activeTest.id + 1)"
      class="panel-testing__prev-button"
    >
      Следующий тест
    </div>
  </div>
</div>
