<div
  class="multi-select"
  #multiselectContainer
  [class.multi-select__inactive]="!showPanel"
>
  <div
    class="multi-select__field"
    [class.multi-select__field__inactive]="!showPanel"
    [class.multi-select__field__error]="invalidField"
    tabindex="0"
    (click)="changeSelect()"
  >
    <main>
      <span *ngFor="let option of selectedOptions; let i = index">
        {{ option.title
        }}<span *ngIf="i !== selectedOptions.length - 1">,</span>
      </span>
    </main>
    <main>
      <label
        *ngIf="selectedOptions?.length"
        class="multi-select--remove"
        (click)="removeOptions()"
        >✖</label
      >
    </main>
  </div>

  <main class="multi-select__select" *ngIf="showPanel">
    <div class="multi-select__select__search">
      <input
        id="id"
        type="checkbox"
        class="multi-select__select__checkbox"
        [checked]="allSelect"
        (click)="allOptions()"
      />
      <label class="multi-select__select__checkbox-label" for="id"></label>
      <input
        class="multi-select__select__search__field"
        [(ngModel)]="searchField"
        (keyup.enter)="filterOptions()"
      />
      <label
        *ngIf="searchField"
        class="multi-select__select__search__filter-button"
        (click)="filterOptions()"
        >🔍</label
      >
      <label
        *ngIf="searchField"
        class="multi-select__select__search__exit"
        (click)="clearSearch()"
        >✖</label
      >
    </div>
    <div
      class="multi-select__select__option"
      *ngFor="let option of searchOptions"
    >
      <input
        type="checkbox"
        [checked]="checkedOption(option.title)"
        class="multi-select__select__checkbox"
        (click)="addOption(option)"
        [value]="option.title"
      />
      <label
        (click)="addOption(option)"
        class="multi-select__select__checkbox-label"
        for="{{ option.title }}"
      >
        {{ option.title }}</label
      >
    </div>
  </main>
</div>
