.panelTesting {
  padding: 10px;
  .panelCeils{
    display: flex;
  }
  .image{
    height: 300px;
    width: 500px  }
  .panelTrueCell {
    background-color: green;
  }
  .panelFalseCell {
    background-color: #bd1111;
  }
}

