.panelTesting {
  padding: 10px;
  .panelCeils{
    display: flex;
  }
  .image{
    height: 300px;
    width: 500px  }
  .panelCeil{
    cursor: pointer;

  }
  .panelTrueCeil {
    background-color: green;
    cursor: pointer;

  }
  .panelFalseCeil {

    cursor: pointer;
    background-color: #bd1111;
  }
}

