<div class="panelTesting">
    <div> {{ page }}</div>
   <div class="panelCeils" >
     <div  *ngFor="let el of arrCeil">
       @if (el.state===null){
         <div (click)="falsing(el)"  (dblclick)="truing(el)"  class="">{{el.item}}</div>
       }
       @if(el.state===true) {
         <div (click)="falsing(el)" (dblclick)="truing(el)"  class="panelTrueCell">{{el.item}}</div>
       }
       @if (el.state===false){
         <div (click)="falsing(el)" (dblclick)="truing(el)"  class="panelFalseCell">{{el.item}}</div>
       }
     </div>
   </div>
    <div>
      <div class="image"></div>
      <div>Вопрос</div>
      <div  *ngFor="let el of [1,2,3,4]">
        <div >Ответ {{el}}</div>
      </div>
    </div>
</div>
