.panelTesting {
  padding: 10px;

  .panelCeils {
    display: flex;
  }

  .image {
    height: 300px;
    width: 500px
  }
  .panelCeil {
    cursor: pointer;
  }
  .activeCeil{
    border-radius: 7px;
    outline: 3px solid #4e99c9;
    cursor: pointer;
}
  .panelTrueCeil {
    color: green;
    cursor: pointer;
  }
  .panelFalseCeil {
    cursor: pointer;
    color: #bd1111;
  }
}

