<div class="panelTesting">
  <div> {{ page }}</div>
  <div class="panelCeils">
    <div *ngFor="let el of arrTest">
      <div (click)="findTest(el.id)" [class]="activeTest.id===el.id?'activeCeil':'panelCeil'">
        <span
          [class.panelTrueCeil]="correctKeyInMap(el.id)"
          [class.panelFalseCeil]="correctKeyInMap(el.id)===false"
        >{{ el.id }}</span>
      </div>
    </div>
  </div>
  <div>
    <div class="image"></div>
    <h3>{{ activeTest['name'] }}</h3>
    <div [appCorrectAnswer]="answer.correct"
         *ngFor="let answer of activeTest.answers">
      <div class="panelCeil"
           [class.panelTrueCeil]="correctAnswerInMap(answer.title)"
           [class.panelFalseCeil]="correctAnswerInMap(answer.title)===false"

           (onClick)="clickAnswer(answer)"
           [appCorrectAnswer]="answer.correct"
           [selectAnswer]="selectAnswer">

          {{ answer.title }}

      </div>
    </div>
  </div>

</div>
