.screen-page{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  background: #2b2b2b;
  color: #868c06;
}
.screen-title{
  margin: 5px;
  cursor:pointer;
}
.screen-wrapper{
  display: grid;
  grid-template-columns: 100px calc(100% - 200px) 100px;
}
.screen-wrapper div{
  margin: 5px;
  font-weight: bold;
}
.arrow,.screen-nav{
  font-size: 20px;
}
.arrow{
  cursor:pointer;

}
.screen__container{
  width: 100%;
}
.horizont{
  border:1px solid gray;
  content: '§';
}


