<div class="screen-page">
  <div class="screen-page__nav">
    <div [routerLink]="'/documents'">← Документы</div>
    @for (title of titles; track title) {
      <div class="screen-page__title" (click)="getScreenFromTitle(title)">
        {{ title }}
      </div>
    }
  </div>
  <hr />
  <div class="screen-page__wrapper">
    <div class="screen-page__arrowCard">
      <div
        *ngIf="existPrevScreen"
        (click)="prevScreen()"
        class="screen-page__arrow"
      >
        ←
      </div>
    </div>
    <div>
      <h1 class="align-center">{{ screen?.title }}</h1>
      <h3>{{ screen?.description }}</h3>
      <div class="screen-page__container">
        <img src="{{ screen?.url }}" alt="" />
      </div>
      <h3>{{ screen?.description2 }}</h3>
      <div class="screen-page__container">
        <img src="{{ screen?.url2 }}" alt="" />
      </div>
    </div>
    <div class="screen-page__arrowCard">
      <div
        *ngIf="existNextScreen"
        (click)="nextScreen()"
        class="screen-page__arrow"
      >
        →
      </div>
    </div>
  </div>
</div>
