.screen-page{
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.screen-title{
  margin: 5px;
  cursor:pointer;
}
.screen-wrapper{
  width:70%;
  display: grid;
  grid-template-columns: 100px calc(100% - 200px) 100px;
}
.screen-wrapper div{
  margin: 5px;
  font-weight: bold;
}
.arrow,.screen-nav{
  font-size: 20px;
}
.arrow{
  cursor:pointer;
}
.screen__container{
  width: 100%;
}
.screen-nav{
width:30%
}
.screen-nav img{
  width: 50%;
}



