<div class="screen-page">
  <div class="screen-nav">
    <div [routerLink]="'/documents'">documents</div>
    <div class="screen-title" (click)="getScreenFromTitle(title)" *ngFor="let title of titles ">
      {{title}}
    </div>
  </div>
  <hr class="horizont">
  <div class="screen-wrapper">
  <div>
    <div class="arrow" *ngIf="existPrevScreen" (click)="prevScreen()">←</div>
  </div>
  <div>
    <h1 class="align-center">{{ screen?.title }}</h1>
    <h3>{{ screen?.description }}</h3>
    <div class="screen__container"><img src="{{screen?.url}}" alt=""></div>
    <h3>{{ screen?.description2 }}</h3>
    <div class="screen__container"><img src="{{screen?.url2}}" alt=""></div>
  </div>
  <div>
    <div class="arrow"  *ngIf="existNextScreen" (click)="nextScreen()">→</div>
  </div>
  </div>
</div>
