<div class="screen-page">
  <div class="screen-page__nav">
    <div [routerLink]="'/documents'">← Документы</div>
    @for (screen of screens; track screen.title) {
      <div
        class="screen-page__title"
        [class.screen-page__title--active]="
          screen.title === activeScreen?.title
        "
        (click)="getScreenFromTitle(screen.title, screen.id)"
      >
        {{ screen.title }}
      </div>
    }
  </div>
  <hr />
  <div class="screen-page__wrapper">
    <div class="screen-page__arrowCard">
      <div
        [tabIndex]="1"
        *ngIf="activeScreen !== screens[0]"
        (click)="prevScreen()"
        class="screen-page__arrow"
      >
        ←
      </div>
    </div>
    <div>
      <h1 class="align-center">{{ activeScreen?.title }}</h1>
      <h3>{{ activeScreen?.description }}</h3>
      <div class="screen-page__container">
        <img src="{{ activeScreen?.url }}" alt="" />
      </div>
      <h3>{{ activeScreen?.description2 }}</h3>
      <div class="screen-page__container">
        <img src="{{ activeScreen?.url2 }}" alt="" />
      </div>
    </div>
    <div class="screen-page__arrowCard">
      <div
        [tabindex]="1"
        *ngIf="activeScreen !== screens[screens.length - 1]"
        (click)="nextScreen()"
        (keydown.enter)="nextScreen()"
        class="screen-page__arrow"
      >
        →
      </div>
    </div>
  </div>
</div>
