<app-custom-sidebar [triggerSidebar]="ms.getSettingMode()">
  <ng-container *ngTemplateOutlet="header" header></ng-container>
  <ng-container *ngTemplateOutlet="footer" footer>12321312r32</ng-container>
  <ng-container *ngTemplateOutlet="body" body>99999999999999</ng-container>
</app-custom-sidebar>
<ng-template #header>
  <h3>Настройки тестирования</h3>
</ng-template>
<ng-template #body>
  <main>
    <div class="settings-sidebar__options__dropdown">
      <select *ngFor="let option of dataMenu[1].options" name="select">
        <!--Supplement an id here instead of using 'name'-->
        <option
          [class]="
            activeBlockTests === option.number
              ? 'settings-sidebar__options__dropdown__option--active'
              : 'settings-sidebar__options__dropdown__option'
          "
          (click)="changeActiveBlockTests(option.number)"
        >
          {{ option.number }} блок
        </option>
      </select>
    </div>
  </main>
</ng-template>
<ng-template #footer>
  <main class="settings-sidebar__options__buttons">
    <div
      class="settings-sidebar__options__buttons__begin"
      routerLink="{{ ms.getRoute() }}"
      (click)="ms.setSettingMode(null)"
    >
      Начать ▶
    </div>
    <div
      class="settings-sidebar__options__buttons__close"
      (click)="ms.setSettingMode(false)"
    >
      Отмена
    </div>
  </main>
</ng-template>

<!--</div>-->
