<app-custom-sidebar
  [headerTemplate]="header"
  [bodyTemplate]="body"
  [footerTemplate]="footer"
  [triggerSidebar]="ms.getSettingMode()"
/>
<ng-template #header>1111111111111</ng-template>
<ng-template #body>222222222222222222</ng-template>
<ng-template #footer>
  <button (click)="this.ms.setSettingMode(false)">ОТмена</button>

  3333333333333333</ng-template
>
<!--<div-->
<!--  *ngIf="ms.getRoute() === '/testing'"-->
<!--  class="settings-sidebar__options"-->
<!--  [class.settings-sidebar__options&#45;&#45;active]="ms.getSettingMode()"-->
<!--  [class.settings-sidebar__options&#45;&#45;inactive]="ms.getSettingMode() === false"-->
<!--&gt;-->
<!--  <h3>Настройки тестирования</h3>-->
<!--  <main *ngFor="let option of dataMenu[1].options">-->
<!--    <div class="settings-sidebar__options__dropdown">-->
<!--      <div-->
<!--        [class]="-->
<!--          activeBlockTests === option.number-->
<!--            ? 'settings-sidebar__options__dropdown__option&#45;&#45;active'-->
<!--            : 'settings-sidebar__options__dropdown__option'-->
<!--        "-->
<!--        (click)="changeActiveBlockTests(option.number)"-->
<!--      >-->
<!--        {{ option.number }} блок-->
<!--      </div>-->
<!--    </div>-->
<!--  </main>-->
<!--  <main class="settings-sidebar__options__buttons">-->
<!--    <div-->
<!--      class="settings-sidebar__options__buttons__begin"-->
<!--      routerLink="{{ ms.getRoute() }}"-->
<!--      (click)="ms.setSettingMode(null)"-->
<!--    >-->
<!--      Начать ▶-->
<!--    </div>-->
<!--    <div-->
<!--      class="settings-sidebar__options__buttons__close"-->
<!--      (click)="ms.setSettingMode(false)"-->
<!--    >-->
<!--      Отмена-->
<!--    </div>-->
<!--  </main>-->
<!--</div>-->
