<div class="questions">
  <div>
    <div *ngIf="numQuestion !== 0">
      {{ numQuestion }} Вопрос из {{ lastQuestion }}
    </div>
    @if (activeQuestion) {
      <button
        (click)="unansweredQuestion()"
        [disabled]="this.activeQuestion.active"
      >
        Ответ
      </button>
      <div>{{ activeQuestion.question }}</div>
      @if (activeQuestion.active) {
        <div>{{ activeQuestion.response }}</div>
      }
    }
    @if (numQuestion !== lastQuestion) {
      <span>
        @if (numQuestion === 0) {
          <button (click)="randomizeQuestion()">Начать</button>
        }
        @if (
          numQuestion !== questions.length &&
          numQuestion !== 0 &&
          ms.getPassedQuestions().length !== questions.length
        ) {
          <button (click)="addPassedQuestions(activeQuestion)">
            Следующий вопрос
          </button>
        }
      </span>
    }
    @if (
      numQuestion === lastQuestion ||
      ms.getPassedQuestions().length === questions.length
    ) {
      <button (click)="setStatistic(time + '')" routerLink="/statistics">
        Готово
      </button>
    }
  </div>
  <h2>{{ time | Timer }}</h2>
</div>
