<div class="questions">
  <div>
    {{ numQuestion }} Вопрос из {{ lastQuestion }}
    @if (question1) {
      <button (click)="unansweredQuestion()" [disabled]="this.question1.active">
        Ответ
      </button>

      <div>{{ question1.question }}</div>
      @if (question1.active) {
        <div>{{ question1.response }}</div>
      }
    }
    @if (numQuestion !== lastQuestion) {
      <span>
        @if (numQuestion === 0) {
          <button (click)="randomizeQuestion()">Начать</button>
        }
        @if (numQuestion !== 0) {
          <button (click)="randomizeQuestion()">Следующий вопрос</button>
        }
      </span>
    }
    @if (ds.getArrayTime().length === 10) {
      <button (click)="setStatistic(count + '')" routerLink="/statistics">
        Готово
      </button>
    }
  </div>
  <h2>{{ count | questionsTimer }}</h2>
</div>
