<div class="documents">
  <app-toast
    (toastStateEmitter)="toastHandler($event)"
    [activeToast]="toastData.active"
    [description]="toastData.description"
    [title]="toastData.title"
  />
  @if (deletedQuestion) {
    <app-modal
      [title]="'Удаление вопроса'"
      (closeEmitter)="deletingQuestion(this.currentQuestion.title, false)"
      [bodyTemplate]="bodyTemplate"
    >
      <ng-template #bodyTemplate>
        <div class="documents__modal">
          <h3>Вы точно хотите удалить этот вопрос?</h3>
          <div class="documents__modal__actions">
            <button (click)="removeQuestion()">Удалить</button>
            <button
              (click)="deletingQuestion(this.currentQuestion.title, false)"
            >
              Отмена
            </button>
          </div>
        </div>
      </ng-template>
    </app-modal>
  }
  <div class="documents__questions">
    @for (question of questions; track question.title; let i = $index) {
      <div
        class="documents__question"
        (click)="question.active = !question.active"
      >
        <main class="documents__question__items">
          <div class="documents__question__items__item">
            {{ i + 1 + ". " + question.title }}
          </div>

          <div>
            <span
              class="documents__question__items--action"
              (click)="changeQuestion(question.title)"
              >✎</span
            >
            <span
              class="documents__question__items--action"
              (click)="deletingQuestion(question.title, true)"
              >✖</span
            >
          </div>
        </main>
        <div class="documents__response" *ngIf="question.active">
          {{ question.response }}
        </div>
      </div>
      <app-custom-sidebar
        [bodyTemplate]="editBodyTemplate"
        [footerTemplate]="editFooterTemplate"
        [headerTemplate]="editHeaderTemplate"
        [triggerSidebar]="changingQuestion"
        (closingSidebarEmitter)="closeSidebar()"
      >
        <ng-template #editHeaderTemplate>
          <span>Редактирование вопроса</span>
        </ng-template>
        <ng-template #editBodyTemplate>
          <main>
            <div>
              <p>Вопрос</p>
              <input
                name="question"
                class="documents__questions--addition__question"
                [class.documents__questions--addition__error]="
                  !currentQuestion.title.length
                "
                [(ngModel)]="currentQuestion.title"
              />
              @if (!currentQuestion.title.length) {
                <div>Обязательное поле ввода</div>
              }
            </div>
            <div>
              <p>Ответ</p>
              <textarea
                [style.height]="heightTextarea"
                rows="1"
                (input)="autoResize($event)"
                class="documents__questions--addition__response"
                [class.documents__questions--addition__error]="
                  !currentQuestion.response.length
                "
                name="response"
                [(ngModel)]="currentQuestion.response"
              ></textarea>
              @if (!currentQuestion.response.length) {
                <div>Обязательное поле ввода</div>
              }
            </div>
            <div class="documents__questions--addition__levels">
              <p>Уровень сложности</p>
              <label class="documents__questions--addition__levels__level">
                <span>Junior</span>
                <input
                  type="radio"
                  [defaultValue]="currentQuestion.level"
                  name="editOption"
                  [value]="'Junior'"
                  [(ngModel)]="currentQuestion.level"
                />
              </label>
              <label class="documents__questions--addition__levels__level">
                <span>Middle</span>
                <input
                  type="radio"
                  name="editOption"
                  [value]="'Middle'"
                  [(ngModel)]="currentQuestion.level"
                />
              </label>
              <label class="documents__questions--addition__levels__level">
                <span>Senior</span>
                <input
                  type="radio"
                  name="editOption"
                  [value]="'Senior'"
                  [(ngModel)]="currentQuestion.level"
                />
              </label>
            </div>
          </main>
        </ng-template>
        <ng-template #editFooterTemplate>
          <button (click)="editQuestion()">Изменить вопрос</button>
          <button (click)="closeSidebar()">Отмена</button>
        </ng-template></app-custom-sidebar
      >
    } @empty {
      <div class="response">Выберите категорию</div>
    }
    <app-custom-sidebar
      [bodyTemplate]="createBodyTemplate"
      [footerTemplate]="createFooterTemplate"
      [headerTemplate]="createHeaderTemplate"
      [triggerSidebar]="creatingQuestion"
      (closingSidebarEmitter)="closeSidebar()"
    >
      <ng-template #createHeaderTemplate>
        <span>Создание вопроса</span>
      </ng-template>
      <ng-template #createBodyTemplate>
        <main>
          <div>
            <p>Вопрос</p>
            <input
              name="question"
              class="documents__questions--addition__question"
              [class.documents__questions--addition__error]="
                !newQuestion.title.length
              "
              [(ngModel)]="newQuestion.title"
            />
            @if (!newQuestion.title.length) {
              <div>Обязательное поле ввода</div>
            }
          </div>
          <div>
            <p>Ответ</p>
            <textarea
              [style.height]="heightTextarea"
              rows="1"
              (input)="autoResize($event)"
              class="documents__questions--addition__response"
              [class.documents__questions--addition__error]="
                !newQuestion.response.length
              "
              name="response"
              [(ngModel)]="newQuestion.response"
            ></textarea>
            @if (!newQuestion.response.length) {
              <div>Обязательное поле ввода</div>
            }
          </div>
          <div class="documents__questions--addition__levels">
            <p>Уровень сложности</p>
            <label class="documents__questions--addition__levels__level">
              <span>Junior</span>
              <input
                type="radio"
                [defaultValue]="newQuestion.level"
                name="createOption"
                [value]="'Junior'"
                [(ngModel)]="newQuestion.level"
              />
            </label>
            <label class="documents__questions--addition__levels__level">
              <span>Middle</span>
              <input
                type="radio"
                name="createOption"
                [value]="'Middle'"
                [(ngModel)]="newQuestion.level"
              />
            </label>
            <label class="documents__questions--addition__levels__level">
              <span>Senior</span>
              <input
                type="radio"
                name="createOption"
                [value]="'Senior'"
                [(ngModel)]="newQuestion.level"
              />
            </label>
          </div>
        </main>
      </ng-template>
      <ng-template #createFooterTemplate>
        <button
          (click)="
            addQuestion(
              newQuestion.title,
              newQuestion.response,
              newQuestion.level
            )
          "
        >
          Добавить вопрос
        </button>
        <button (click)="closeSidebar()">Отмена</button>
      </ng-template>
    </app-custom-sidebar>

    <button *ngIf="currentCategory" (click)="creatingQuestion = true">
      Создать вопрос
    </button>
  </div>
</div>
