<select [(ngModel)]="selectedOption" (click)="testsHandler()" name="select">
  <!--Supplement an id here instead of using 'name'-->
  <option
    *ngFor="let option of dataMenu[1].options"
    [value]="option.number"
    class="settings-sidebar__options__dropdown"
    [class]="
      activeBlockTests === option.number
        ? 'settings-sidebar__options__dropdown__option--active'
        : 'settings-sidebar__options__dropdown__option'
    "
  >
    {{ option.number }} блок
  </option>
</select>
