<div
  #selectContainer
  class="multi-select"
  [class.multi-select__inactive]="!activeSelect"
>
  <div
    class="multi-select__field"
    [class.multi-select__field__inactive]="!activeSelect"
    tabindex="0"
    (click)="this.changeSelect()"
  >
    {{ activeBlock }}
  </div>

  <main class="multi-select__select" *ngIf="activeSelect">
    <div class="multi-select__select__search">
      <input
        class="multi-select__select__search__field"
        [(ngModel)]="searchField"
        (keyup.enter)="filterOptions()"
      />
      <label
        class="multi-select__select__search__filter-button"
        (click)="filterOptions()"
        >🔍</label
      >
      <label
        class="multi-select__select__search__exit"
        (click)="removeOptions()"
        >✖</label
      >
    </div>
    <div
      class="multi-select__select__option"
      *ngFor="let option of searchOptions.options"
    >
      <label
        [class.multi-select__select__option--active]="
          activeBlock === option.option
        "
        for="{{ option.option }}"
        (click)="selectOption(option.option)"
      >
        {{ option.option }}</label
      >
    </div>
  </main>
</div>
