.auth {
  width: 70vw;
  height: 75vh;
  display: flex;
  color: #4b4747;
  border-radius: 20px;
  background-color: #4e99c9;

  transition: transform 2s ease-in-out;

  &__fields{
    display: flex;
    flex-direction: column;
    width: 40%;
    color: #4e99c9;
    &__item{
      margin: 5px 20px;
      padding: 5px;
      font-size: 20px;
      scrollbar-width: thin;
      background: #2b2b2b;
      color: #4e99c9;
      border: 2px solid #4b4747;
      &:hover,&:focus-visible{
        outline: 2px solid #4e99c9;
      }
      &--error{
        outline:2px solid red;
      }
      &__label{
        margin: 2px 20px 0 20px;
        &__error{
          font-size: 15px;
          margin: 2px 20px 0 20px;
        }
      }
    }
  }
  &--default {
    flex-direction: row;

    transition: transform 2s ease-in-out;
  }

  &--transform {

    transition: transform 2s ease-in-out;
    transform:scaleX(-1);
  }

  &__transition-bar {
    border-radius: 20px 0 0 20px;
    position: absolute;
    z-index: 2;
    //width: 30%;
    //height: 100%;
    //background-color: #4584af;
    &__login{
      transform:scaleX(-1);

    }
  }
  &__login,&__registration{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__registration {
    width: 100%;
    padding: 10px;
  }

  &__login {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 10px;
    transform:scaleX(-1);
  }
}
