<div class="auth">
<div class="auth__transition-bar  auth__transition-bar__default">
  <button  (click)="inLogin()">
    Логин
  </button>
</div>
<div class="auth__registration">
  <h1>Регистрация</h1>
  <div class="auth__fields">
    <label for="login" class="auth__fields__item__label">Логин</label>
    <div>
      <input
        id="login"
        placeholder="*Не менее {{minLengthChar}} символов"
        class="auth__fields__item"
        appBanLanguageInputText
        [class.auth__fields__item--error]="!(credForRegistration.login|charsLengthSampling)"
        [(ngModel)]="credForRegistration.login"
      />
    </div>
    <label
      *ngIf="!(credForRegistration.login|charsLengthSampling)"
      class="auth__fields__item__label__error"
    >*Обязательное поле</label
    >
    <label for="password" class="auth__fields__item__label pt-5">Пароль</label>
    <div class="auth__fields__item__block">
      <input
        id="password"
        class="auth__fields__item"
        placeholder="*Не менее {{minLengthChar}} символов"
        appBanLanguageInputText
        [(ngModel)]="credForRegistration.password"
        (keyup)="determinantPasswordComplexity()"
        [type]="showPassword?'text':'password'"
      />
      <div
        class="auth__fields__item--password-complexity"
        [ngClass]="{
            'auth__fields__item--strong': getPasswordComplexityStrong(),
          'auth__fields__item--medium':getPasswordComplexityMedium(),
          'auth__fields__item--weak':getPasswordComplexityWeak() }">

      </div>
      <main *ngIf="!showPassword " class="auth__fields__item--hidden" (click)="showHiddenPassword()">👁</main>
      <main *ngIf="showPassword" class="auth__fields__item--hidden" (click)="showHiddenPassword()">⬭</main>

    </div>
    <label class="auth__fields__item__label__error"
           *ngIf="credForRegistration.password|charsLengthSampling"
            [class.auth__fields__item--strong__text]="getPasswordComplexityStrong()"
            [class.auth__fields__item--medium__text]="getPasswordComplexityMedium()"
            [class.auth__fields__item--weak__text]="getPasswordComplexityWeak()"
    >
      Сложность пароля:{{getPasswordComplexityStrong()?'Тяжелый':getPasswordComplexityMedium()?'Средний':'Легкий'}}
    </label>
    <label
      *ngIf="!(credForRegistration.password|charsLengthSampling)"
      class="auth__fields__item__label__error"
    >*Обязательное поле</label
    >
    <label for="password" class="auth__fields__item__label pt-5">Секретное слово</label>

    <div class="auth__fields__item__block"><input
      id="secretWord"
      class="auth__fields__item"
      [class.auth__fields__item--error]="!(credForRegistration.secretWord|charsLengthSampling)"
      [(ngModel)]="credForRegistration.secretWord"
      [type]="showPassword?'text':'password'"
    />
      <main *ngIf="!showPassword" class="auth__fields__item--hidden" (click)="showHiddenPassword()">👁</main>
      <main *ngIf="showPassword" class="auth__fields__item--hidden" (click)="showHiddenPassword()">⬭</main>

    </div> <label
    *ngIf="!(credForRegistration.secretWord|charsLengthSampling)"
    class="auth__fields__item__label__error"
  >*Обязательное поле</label
  >
    <div class="button-block"><button class="button-block__item" (click)="onRegistration()">Зарегистрироваться</button></div>


  </div>
</div>
</div>
