<div class="auth__fields">
  <label class="auth__fields__item__label-restore">Логин</label>
  <div class="auth__fields__item__block">
    <input
      class="auth__fields__item"
      [class.auth__fields__item--error]="
        !(credForRestorePassword.login|charsLengthSampling)
      "
      appBanLanguageInputText
      [(ngModel)]="credForRestorePassword.login"
    />
  </div>
  <label
    *ngIf="!(credForRestorePassword.login|charsLengthSampling)"
    class="auth__fields__item__label__error-password"
    >*Обязательное поле</label
  >
  <label class="auth__fields__item__label-restore pt-5">Секретное слово</label>
  <div class="auth__fields__item__block">
    <input
      class="auth__fields__item"
      [class.auth__fields__item--error]="
        !(credForRestorePassword.secretWord|charsLengthSampling)
      "
      [(ngModel)]="credForRestorePassword.secretWord"
    />
  </div>
  <label
    *ngIf="!(credForRestorePassword.secretWord|charsLengthSampling)"
    class="auth__fields__item__label__error-password"
    >*Обязательное поле</label
  >
  <div class="button-block__wrong">
    <button class="button-block__item-change" (click)="isForgotPassword()">Восстановить пароль</button>
  </div>

</div>
