<div class="auth__fields">
  <label class="auth__fields__item__label">Логин</label>
  <div class="auth__fields__item__block">
    <input
      class="auth__fields__item"
      [class.auth__fields__item--error]="
        !credForRestorePassword.login.trim().length
      "
      [(ngModel)]="credForRestorePassword.login"
    />
  </div>
  <label
    *ngIf="!credForRestorePassword.login.trim().length"
    class="auth__fields__item__label__error-password"
    >*Обязательное поле</label
  >
  <label class="auth__fields__item__label">Секретное слово</label>
  <div class="auth__fields__item__block">
    <input
      class="auth__fields__item"
      [class.auth__fields__item--error]="
        !credForRestorePassword.secretWord.trim().length
      "
      [(ngModel)]="credForRestorePassword.secretWord"
    />
  </div>
  <label
    *ngIf="!credForRestorePassword.secretWord.trim().length"
    class="auth__fields__item__label__error-password"
    >*Обязательное поле</label
  >
  <div class="button-block__wrong">
    <button class="button-block__item" (click)="isForgotPassword()">Восстановить пароль</button>
  </div>

</div>
