<div
  class="toast toast__{{ settings.type }}"
  [class.toast--active]="activeToast"
  [class.toast--inactive]="!activeToast"
>
  <!--анимации тостов-->
  @if (settings.type === "success") {
    <!--    успех-->
    <div class="toast__icon">✔</div>
  }
  @if (settings.type === "info") {
    <!--    информация-->
    <div class="toast__icon">ⓘ</div>
  }
  @if (settings.type === "error") {
    <!--    ошибка-->
    <div class="toast__icon">⊗</div>
  }
  @if (settings.type === "warning") {
    <!--    предупреждение-->
    <div class="toast__icon">⚠︎</div>
  }

  <div class="toast__body">
    <span class="toast__body__title">{{ settings.title }}</span>
    <span class="toast__body__description">{{ settings.description }}</span>
  </div>
  <span class="toast__exit" (click)="closeToast()">✖</span>
</div>
