.documents {
  font-size: large;
   display: flex;
  padding: 10px;
  height: 100vh;
  width: 100%;
}

.question ,.category  {
  cursor: pointer;

  &:hover {
    color: lightyellow;
  }
}
.response{
  margin:30px;
  padding: 10px;
  background-color: rgba(98, 114, 114, 0.7);


}
.categories {
  width: 30%;
}

.questions {
  width: 70%;
}
