<div class="documents">
  <div class="categories">
    <div routerLink="/menu">Обратно в меню</div>
    @for (category of categories; track category) {
      <div class="category"
           (click)="getQuestions(category)"
      >
        {{ category }}
      </div>

    }
    <div [routerLink]="'/screen'">Скрины</div>
  </div>
  <hr>
  <div class="questions">
    @for (question of questions; track question.question; let i = $index) {
      <div  (click)="question.active=!question.active">
        <span class="question">{{ i + 1 + ". " + question.question }}</span>
        <div class="response" *ngIf="question.active">
          {{ question.response }}
        </div>
      </div>

    } @empty {
      Выбери категорию

    }
  </div>
</div>


<!--<router-outlet></router-outlet>-->
