.loading-veil{
  opacity: 0.001%;
}
.documents {

  display: flex;
  padding: 10px;
  height: 100%;
  width: 100%;
  &__uncategorized{
    margin-top: -3px;
  }
  &__modal{
    display: flex;
    flex-direction: column;

    &__actions{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__categories {
    width: 30vh;
  }

  &__questions {
    width:70vh ;
    scroll-behavior: auto;
    overflow-y: visible;
    overflow-x: visible;
    &__header-sidebar{
      margin: 10px;
    }
    &--addition {

      &__response,&__question{
        padding: 5px;
        scrollbar-width: thin;
        background: #2b2b2b;
        color: #4e99c9;
        width: 100%;
        border: 2px solid #4b4747;

      }
      &__error{
        border:1px solid red;
      }
     display: flex;
      flex-direction: column;
      &__response{
        min-height: 50px;
        max-height: 300px;
        height:fit-content;
        resize: none;overflow: hidden
      }
      &__levels {
        display: flex;
        flex-direction: column;
        &__level{
          display: flex;
          justify-content:space-between;
          width: 10%;
        }
      }
    }
  }
  &__category{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    &--action{
      padding:0 5px;
      &:hover{
        color: #4e99c9;
      }
    }
  }
  &__name-category{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: large;
    font-weight: bold;
  }
  &__question{
    display: flex;
    flex-direction: column;

    width: 100%;
  &__items{
    display: flex;
    justify-content: space-between;

    &--action{
      margin:0 10px 0 0;
    }
  }
  }
  &__question__items__item,&__question__items--action, &__category {
    cursor: pointer;
    &:hover {
      color: lightyellow;
    }
  }

  &__response {
    margin: 30px;
    padding: 10px;
    background-color: rgb(59, 58, 58);
  }
}

.doc-hidden {
  overflow: hidden;
}
