<div class="menu">
  {{ ms.getRoute() }}
  @if (ms.getRoute() === "/questions") {
    <app-setting-questions />
  }
  @if (ms.getRoute() === "/testing") {
    <app-setting-testing />
  }
  Меню
  <div>
    <button class="menu__questions" (click)="changeRoute('/questions')">
      Вопросы
    </button>
  </div>
  <div>
    <button class="menu__testing" (click)="changeRoute('/testing')">
      Тестирование
    </button>
  </div>
  <div>
    <button class="menu__documents" routerLink="/documents">
      Документация
    </button>
  </div>
</div>
