.menu {
  display: flex;
  width: 100%;
  padding: 10px;
  height: 100vh;
  font-weight: bold;
  &__choice{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__choice__start,&__choice__close{
    margin:0 50px;
    cursor: pointer;
  }
&__testing,&__questions,&__documents{
  cursor: pointer;
}
  &__test{
    position: absolute;
    top: 50%;
  }
  &__bounce{
    width: 30%;
    height: 30%;
    background: gray;
  }
}

