@mixin translateX($x){
  transition: 1000ms all;
  transform:translateX($x)
}
.sidebar-page {
  overflow: auto;

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &--active{

    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

  }
  &--inactive{
    background: none;
    z-index: -1;
  }
  &__sidebar {
    overflow: auto;
    scrollbar-width: thin;
    transform:translateX(-100%);
    transition: transform 1s;
    margin: 0 0 0 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    //&--active{
    //  animation:  sidebar-active 1s ;
    //  left: 0;
    //  @keyframes sidebar-active {
    //    from {
    //      left: -30%;
    //    }
    //    to {
    //      left: 0;
    //    }
    //  }
    //}
    //&--inactive{
    //  animation: sidebar--inactive 1s;
    //  left: -30%;
    //  @keyframes sidebar--inactive {
    //    from {
    //      left: 0;
    //
    //    }
    //
    //    to {
    //
    //      left: -30%;
    //    }
    //  }
    //}
    &--activity {
      @include translateX(0%);
    }
    &--inactive {
      @include translateX(-100%);
    }

    &__exit-cross {
      transform: translateX(900%);
    }

    &__exit-button, &__exit-cross, &__save-button {
      cursor: pointer;
    }

    &__options {
      display: flex;
      flex-direction: column;
    }



    &__buttons {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
