.statistics {
  width: 100%;
  height: 100vh;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  &__congratulation{
    text-align: center;
  }
  &__result{
    margin: 10px;
  }

  &__unansweredQuestions{
    &__mistake{
      margin: 10px;
      cursor: pointer;
    }
  }
  &__response{
    margin-left: 4%;
    display:block
  }

}
