<div class="statistics">
  <h1 *ngIf="ts.arrayTime.length">Статистика тестирования</h1>
  <h1 *ngIf="qs.arrayTime.length">Статистика ответов на вопросы</h1>
  <div *ngIf="ts.arrayTime.length" class="statistics__result">
    Затрачено на все тесты {{ +ts.getStatistic() | Timer }}
  </div>
  <div *ngIf="qs.arrayTime.length" class="statistics__result">
    Затрачено на все вопросы {{ +qs.getStatistic() | Timer }}
  </div>
  <div class="statistics__result">
    Затрачено времени в среднем за вопрос {{ arithmeticMean | Timer }}
  </div>
  <div class="statistics__result">
    Самый долгий вопрос по времени {{ hardQuest | Timer }}
  </div>
  @if (ts.getArrayOfUnanswered().length) {
    <div class="statistics__unansweredQuestions">
      Неотвеченные тесты:
      @for (unanswered of ts.getArrayOfUnanswered(); track unanswered) {
        <li
          class="statistics__unansweredQuestions__mistake"
          (click)="openRequestTest(this.unanswered)"
        >
          {{ unanswered.title }}
        </li>
        @if (unanswered.correct) {
          <span class="statistics__response">
            {{ unanswered.description }}
          </span>
        }
      }
    </div>
  } @else {
    <h1 *ngIf="ts.arrayTime.length" class="statistics__congratulation">
      Вы прошли тесты без ошибок,поздравляю!!! ฅ^•ﻌ•^ฅ
    </h1>
  }
  @if (qs.getArrayOfUnanswered().length) {
    <div class="statistics__unansweredQuestions">
      Неотвеченные вопросы:
      @for (unanswered of qs.getArrayOfUnanswered(); track unanswered) {
        <li
          class="statistics__unansweredQuestions__mistake"
          (click)="openRequestQuestion(unanswered)"
        >
          {{ unanswered.title }}
        </li>
        @if (unanswered.active) {
          <span class="statistics__response">
            {{ unanswered.response }}
          </span>
        }
      }
    </div>
  } @else {
    <h1 *ngIf="qs.arrayTime.length" class="statistics__congratulation">
      Вы ответили на все вопросы,поздравляю!!! ฅ^•ﻌ•^ฅ
    </h1>
  }
  <button
    routerLink="/menu"
    (click)="
      ts.arrayTime.length
        ? ts.nullingArrayOfTests()
        : qs.arrayTime.length
          ? qs.nullingArrayOfUnanswered()
          : ''
    "
  >
    Вернуться в меню
  </button>
</div>
