.statistics {
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.statistics h1{
  text-align: center;
}
.statistics div{
  margin: 10px;
}
.statistics{
  font-size: large;
  font-weight: bold;

}
.unansweredQuestions li{
  margin: 10px;
  cursor: pointer;
}
.response{
  margin-left: 4%;
  display:block
}
