.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.statistics div{
  margin: 10px;

}
.statistics,.statistics button{

  font-size: large;
  font-weight: bold;

}
.statistics button{
  width: 200px;
  margin:10px;
  height: 100px;

  border-radius: 30px;
}
